# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other Files
*.exp
.ilk
Debug
Release
*.suo
ipch
*.log
*.mac
*.backup
*.sdf
*.user
*.idc
*.err
*.aps
*.tlog
*.opensdf

# Delphi Files
__history
*.tvsconfig
*.local
*.identcache
*.otares
*.dcu

#
.vs
bin
Win8Debug
LCXLShadowDriver/Win8 Debug/
LCXLShadowDriver Package/Win8 Debug/